<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ecommerce-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>Servlet</display-name>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>ecommerce.controle.web.Servlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/SalvarFornecedor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/ConsultarFornecedor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/AlterarFornecedor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/ExcluirFornecedor</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/SalvarCliente</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/SalvarProduto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/ConsultarProduto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/AlterarProduto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/ExcluirProduto</url-pattern>
	</servlet-mapping>


</web-app>